## Lists

   - Lists are ordered sequence of mixed data types
   - Lists are written in comma separated elements within square brackets

In [1]:
list1 = ["India", 5, "Delhi"]

In [2]:
list1

['India', 5, 'Delhi']

In [3]:
print(len(list1))
print(type(list1))

3
<class 'list'>

In [4]:
#Nested list - List within a List
list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]
len(list2)

5

In [5]:
list2

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [6]:
list2[-1][1]

'Chennai'

In [7]:
list2[4][1]

'Chennai'

In [8]:
#Indexing

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]

list2[0]

'India'

In [9]:
#Slicing

list2[-1]

['Rajkot', 'Chennai']

In [10]:
list2 = ["India", "Delhi", 5, 10, ("Rajkot", "Chennai")]

In [11]:
list2[4][0]

'Rajkot'

In [12]:
#List Concat
list1 = [1,2,3,4]
list2 = [5,6,7,8]

new_list = list1 + list2

In [13]:
len(new_list)

8

In [14]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
#Add two elements to an existing list
list3 = [1,2,3,4]
#list4 = [5,6]
new_list = list3 +  [5,6]
new_list

[1, 2, 3, 4, 5, 6]

In [16]:
#Membership in lists & tuples

tuple3 = (1,2,3,4)
print(1 in tuple3)
print(5 in tuple3)

True
False

In [17]:
list3 = [1,2,3,4]
print(1 in list3)
print(5 in list3)

True
False

#### Mutability

In [18]:
list1 = ["Maths", "Physics", "Chemistry", "Biology"]

In [19]:
list1[3] = 'Computer Science'

In [20]:
list1

['Maths', 'Physics', 'Chemistry', 'Computer Science']

In [21]:
#extend() function --> It extends the list

list1 = [1,2,3,4]
list1.extend([5,6])
len(list1)

6

In [22]:
list1 = [1,2,3,4]
list1.append([5,6])
len(list1)

5

In [23]:
#append() function

list1 = [1,2,3,4]
list1.append([5,6])

In [24]:
#del command

list1 = [1,2,3,4]

del list1[2]
list1

[1, 2, 4]

In [25]:
#pop() - Deletes the object based on the index value
# Default --> Removes the last element

list1 = [11,22,33,44]

list1.pop(2)
list1

[11, 22, 44]

In [26]:
list1 = [11,22,33,44]

list1.remove(22)
list1

[11, 33, 44]

In [27]:
#pop() - By default, it deletes the last object from the list
#pop takes index as an input

list1 = [1,2,3,4]

list1.pop(2)
list1

[1, 2, 4]

In [28]:
#remove() - takes value as an input

list1 = [1,2,3,4]

list1.remove(3)

In [29]:
#Sorting 
A = [9,5,2]
A.sort()
A

[2, 5, 9]

In [30]:
A.sort(reverse=True)
A

[9, 5, 2]

#### Difference between sort & sorted

In [31]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Oranges', 'Strawberry']
None

In [32]:
A = ["Oranges", "Strawberry", "Mango"]
A.sort()

In [33]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted(A)
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']

#### shallow copy

In [34]:
A = ["Oranges", "Strawberry", "Mango"]
B = A
print(B)
print(A)

['Oranges', 'Strawberry', 'Mango']
['Oranges', 'Strawberry', 'Mango']

In [35]:
A.pop()

'Mango'

In [36]:
A

['Oranges', 'Strawberry']

In [37]:
B

['Oranges', 'Strawberry']

In [38]:
A = ["Oranges", "Strawberry", "Mango"]
B = A[0:3]
print(B)

['Oranges', 'Strawberry', 'Mango']

In [39]:
A.pop()

'Mango'

In [40]:
A

['Oranges', 'Strawberry']

In [41]:
B

['Oranges', 'Strawberry', 'Mango']

## Questions

#### Description
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.


Sample Input:
('Monty Python', 'British', 1969)

Sample Output:
('Monty Python', 'British', 1969, 'Python')

In [42]:
tuple_new = ('Monty Python', 'British', 1969)
a = 'Python'
#Tuple Concatenation
tuple_new2 = tuple_new + (a,)

In [43]:
tuple_new2

('Monty Python', 'British', 1969, 'Python')

In [44]:
type(tuple_new2)

tuple

In [45]:
tuple_new = ('Monty Python', 'British', 1969)
list_new = list(tuple_new)
list_new.append('Python')
tuple_new2 = tuple(list_new)

In [46]:
tuple_new2

('Monty Python', 'British', 1969, 'Python')

In [47]:
type(tuple_new2)

tuple

#### Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

In [69]:
input_str = 'Kumar_Ravi_003'

print(input_str[6:10])
print(input_str[0:5])
print(input_str[-3:])

Ravi
Kumar
003

In [ ]:
Ravi
Kumar
003

In [70]:
input_str = 'Kumar_Ravi_003'
list1 = input_str.split('_')

In [71]:
list1

['Kumar', 'Ravi', '003']

In [149]:
print(list1[1])
print(list1[0])
print(list1[2])

Ravi
Kumar
003

### Questions

#### Question 1: A List and a Tuple Together?
#### Question 2: Indexing from the End
- Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?

#### Question 3: I Lost Everything!
- word = ['1','2','3','4']
- word[ : ] = [ ] 
- print(word)

#### Sorted List
- Consider the following list:
- L = ['one','two','three', 'four', 'five', 'six']
- print(sorted(L))
- print (L)

#### Question

#### Description
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [74]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = 'SPARK'
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

#### Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [ ]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

#### How will I extract Python from the nested list
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]